<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section 
      name="ConnectionSection" 
      type="DomainInitLayer.Configuration.ConnectionSection, DomainInitLayer"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Path" value="./users.xml"/>
  </appSettings>    
  <system.diagnostics>
    <switches>
      <add name="Data" value="1" />
    </switches>
  </system.diagnostics>
        <ConnectionSection>
    <MasterService>
      <add type="slave" path="slave_1" ip ="127.0.0.1" port="9000"/>
      <add type="slave" path="slave_2" ip ="127.0.0.1" port="9001" />
      <add type="master" path="slave_3" ip ="127.0.0.1" port="9002" />
    </MasterService>
  </ConnectionSection>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>